@using DataVisualizator.Data.Services
@inject ComponentService ComponentService

<nav class="nav-main">
    <ul class="ul-plain">
        <li class="navh-item-top">
            <a href="#" @onclick="ToggleAlgorythmsSub">Algorithms</a>
            @if (ExpandSubMenu == true)
            {
                <!-- IN the future sorround this with a list of ready components and their addys-->
                <ul class="ul-dropdown ul-plain">
                    @foreach (var item in ComponentService.ComponentList) 
                    {
                        <li class="drop-down-content"><a href="@item.RelativePageLink" @onclick="ToggleAlgorythmsSub">@item.ModelDisplayName</a></li>
                    }
                </ul>
            }
        </li>
        <li class="navh-item-top"><a href="#" @onclick="ToggleDataSub">Data Structures</a>
            @if (ExpandDsSub == true) 
            {
                <ul class="ul-dropdown ul-plain">
                    @foreach (var item in ComponentService.DataStructureList) 
                    {
                        <li class="drop-down-content"><a href="@item.RelativePageLink" @onclick="ToggleDataSub">@item.ModelDisplayName</a></li>
                    }
                </ul>
            }
        </li>
    </ul>
</nav>


@code {
    //controls the submenu's
    bool ExpandSubMenu = false;
    bool ExpandDsSub = false;

    void ToggleAlgorythmsSub()
    {
        this.ExpandSubMenu = !this.ExpandSubMenu;
    }

    void ToggleDataSub() 
    {
        this.ExpandDsSub = !this.ExpandDsSub;
    }

    object MouseOver()
    {
        Console.WriteLine("Mouse is over!");
        return null;
    }
}
