@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

ul{
    margin: 0;
    padding: 0;
}

/** Custom CSS */

.ul-plain{
    list-style-type: none;
}

.nav-main {
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    width: 100%;
}

.ul-top-level {
    list-style-type: none;
}

.navh-item-top {
    float: left;
    margin: 5px;
    padding: 5px;
}

.navh-item-top a{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    font-weight: 900;
    font-family:'Franklin Gothic';
    display:block;
    position: relative;
}

.navh-item-top a:hover{
    text-decoration: none;
    color: white; 
}

.navh-item-top a:visited{
    text-decoration: none;
}


.main-content{
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 4em;
}


.ul-dropdown {
    position: absolute;
    margin-top: 9px;
    margin-left: -10px;
    z-index: 1;
    border-radius: 5px;
    background: #91139a;
    box-shadow: inset 9px 9px 22px #3a083e, inset -9px -9px 22px #e81ef6;
}

.drop-down-content{
    color: black;
    margin-top: 1px;
    padding: 2px;
}

.content-main-container {
    margin-top:3em;
}

.linear-search-item{
    font-size: 4em;
}

.linear-search-card{
    text-align: center;
    float: left;
    margin: 2em;
    background-color:white;
}

.linear-search-card-found {
    text-align: center;
    float: left;
    margin: 2em;
    background-color: white; 
    animation-name:linear-search-found;
    animation-duration:1s;
    animation-fill-mode:forwards;
}

.linear-search-card-searching {
    text-align: center;
    float: left;
    margin: 2em;
    background-color: white;
    animation-name: linear-search-not-found;
    animation-duration: 1s;
    /*animation-delay:$s*/
}



/* ANIMATIONS */
@keyframes linear-search-found{
    0% { 
        background-color: white;
    }
    55% {
        background-color: yellow;

    }
    100% {
        background-color: red;
    }
}

@keyframes linear-search-not-found{
    0% {
        background-color: white;
    }

    55% {
        background-color: yellow;
    }

    100% {
        background-color: white;
    }
}