@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

ul{
    margin: 0;
    padding: 0;
}

/** Custom CSS */

.ul-plain{
    list-style-type: none;
}

.nav-main {
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    width: 100%;
}

.ul-top-level {
    list-style-type: none;
}

.navh-item-top {
    float: left;
    margin: 5px;
    padding: 5px;
}

.navh-item-top a{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    font-weight: 900;
    font-family:'Franklin Gothic';
    display:block;
    position: relative;
}

.navh-item-top a:hover{
    text-decoration: none;
    color: white; 
}

.navh-item-top a:visited{
    text-decoration: none;
}


.main-content{
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 4em;
}


.ul-dropdown {
    position: absolute;
    margin-top: 9px;
    margin-left: -10px;
    z-index: 1;
    border-radius: 0px;
    background: rgba(96, 0, 114, 0.70);
    box-shadow: inset 9px 9px 22px #3a083e, inset -9px -9px 22px #e81ef6;
}

.drop-down-content{
    color: black;
    margin-top: 1px;
    padding: 2px;
}

.content-main-container {
    margin-top:3em;
}

.linear-search-item{
    font-size: 4em;
}

.linear-search-card{
    text-align: center;
    float: left;
    margin: 2em;
    background-color:white;
}

.linear-search-card-found {
    text-align: center;
    float: left;
    margin: 2em;
    background-color: white; 
    animation-name:linear-search-found;
    animation-duration:1s;
    animation-fill-mode:forwards;
}

.linear-search-card-searching {
    text-align: center;
    float: left;
    margin: 2em;
    background-color: white;
    animation-name: linear-search-not-found;
    animation-duration: 1s;
    /*animation-delay:$s*/
}

/*Binary Search Variables*/
:root {
    --binary-ani-dur:2s;
}

.binary-search-content-container{
    width:70%;
    height:30%;
}

.error-message {
    color:red;
}

.binary-search-item{
    font-size: 2em;
    font-weight: 600;
}
.binary-search-item-container {
    float: left;
    margin: 2px;
    border: 2px solid black;
    width: 4em;
    height: 4em;
    background: white;
    text-align:center;
}
.binary-search-item-container-not-found {
    float: left;
    margin: 2px;
    border: 2px solid black;
    width: 4em;
    height: 4em;
    background: white;
    text-align: center;
    animation-name: search-not-found;
    animation-duration: var(--binary-ani-dur);
}
.binary-search-item-container-found {
    float: left;
    margin: 2px;
    border: 2px solid black;
    width: 4em;
    height: 4em;
    background: white;
    text-align: center;
    animation-name: search-found;
    animation-duration: var(--binary-ani-dur);
    animation-fill-mode: forwards;
}

.binary-search-item-container-high {
    float: left;
    margin: 2px;
    border: 2px solid black;
    width: 4em;
    height: 4em;
    background: white;
    text-align: center;
    animation-name: search-not-found-high;
    animation-duration: var(--binary-ani-dur);
}
.binary-search-item-container-high-found {
    float: left;
    margin: 2px;
    border: 2px solid black;
    width: 4em;
    height: 4em;
    background: white;
    text-align: center;
    animation-name: search-found-high;
    animation-duration: var(--binary-ani-dur);
    animation-fill-mode: forwards;
}
.binary-search-item-container-high-not-found {
    float: left;
    margin: 2px;
    border: 2px solid black;
    width: 4em;
    height: 4em;
    background: white;
    text-align: center;
    animation-name: search-not-found-high;
    animation-duration: var(--binary-ani-dur);
}

.binary-search-item-container-low{

}
.binary-search-item-container-low-found {
    float: left;
    margin: 2px;
    border: 2px solid black;
    width: 4em;
    height: 4em;
    background: white;
    text-align: center;
    animation-name: search-found-low;
    animation-duration: var(--binary-ani-dur);
    animation-fill-mode: forwards;
}
.binary-search-item-container-low-not-found {
    float: left;
    margin: 2px;
    border: 2px solid black;
    width: 4em;
    height: 4em;
    background: white;
    text-align: center;
    animation-name: search-not-found-low;
    animation-duration: var(--binary-ani-dur);
}


/* Binary Search Tree */
.binary-search-tree-item-container{
    width: 2em;
    height: 2em;

    border: 2px solid black;
    background: white;
    text-align: center;
    border-radius: 50px;
    padding-top: .2;
}
.binary-search-tree-item{
    font-size: 1em;
    font-weight: 600;

}


/* ANIMATIONS */
@keyframes linear-search-found{
    0% { 
        background-color: white;
    }
    55% {
        background-color: yellow;

    }
    100% {
        background-color: red;
    }
}
@keyframes linear-search-not-found{
    0% {
        background-color: white;
    }

    55% {
        background-color: yellow;
    }

    100% {
        background-color: white;
    }
}

        /*Binary Search*/
@keyframes search-not-found{
    0% {
        background-color: white;
    }

    55% {
        background-color: yellow;
    }

    100% {
        background-color: white;
    }
}
@keyframes search-found {
    0% {
        background-color: white;
    }

    55% {
        background-color: yellow;
    }

    100% {
        background-color: red;
    }
}

@keyframes search-found-high {
    0% {
        background-color: white;
    }

    25% {
        background-color: green;
    }

    40% {
        background-color: white;
    }

    55% {
        background-color: yellow;
    }

    100% {
        background-color: red;
    }
}
@keyframes search-found-low {
    0% {
        background-color: white;
    }
    25% {
        background-color:green;
    }
    40% {
        background-color: white;
    }
    55% {
        background-color: yellow;
    }

    100% {
        background-color: red;
    }
}

@keyframes search-not-found-high {
    0% {
        background-color: white;
    }

    25% {
        background-color: green;
    }

    40% {
        background-color: white;
    }

    55% {
        background-color: yellow;
    }

    100% {
        background-color: white;
    }
}
@keyframes search-not-found-low {
    0% {
        background-color: white;
    }

    25% {
        background-color: green;
    }

    40% {
        background-color: white;
    }

    55% {
        background-color: yellow;
    }

    100% {
        background-color: white;
    }
}

